.statusWrapper{
    display: flex;
    align-items: center;
}

.statusTitle{
    border-radius: 5px;
    padding: 3px 5px;
    background-color: rgb(107, 41, 228);
    color: white;
}

.statusInfo{
    font-weight: 600;
}
